body{
    background-image: url(img/pexels-steve-johnson-1070527.jpg);
    background-size:100%;
    
}
#main{
    
    width: 70%; 
    margin: auto;
    margin-top: 3cm;
    
    
    overflow: auto;
    border-radius: 0.3cm;
    box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.47);
    
}

aside{
    background-color: 	rgb(178, 178, 226);
    height: 13cm;
    float: left;
    width: 30%;
}
article{
    background-color: rgb(224, 191, 191);
    height: 13cm;
    float: right;
    width: 70%;
}
h1{
    text-align: center;
    font-size: 1cm;
    margin-top: 3cm;
}
#longIn,#password{
    margin-left: 2cm;
    font-style: normal;
    font-weight: bold;
    border-radius: 0.2cm; 
    border: none;
}

#subBotten{
    float: right;
}
#signIn{background: white;
border:none;
border-radius: 0.3cm;
font: bold;
margin-left:3.5cm;
}
